<form action="/chat" method="post">
    <input id="loginText" type="text" name="loginname">
    <input type="submit" value="提交">
    <span>{{infos}}</span>
</form>
<script src="/js/login.js"></script>