<div id="login" v-cloak class="form-group demo">
    <h4>{{infos}}</h4>
    <label for="loginText">用户名</label>
    <input id="loginText" type="text" class="form-control" name="loginname" placeholder="中文数字字母组成">
    <button type="button" class="btn btn-primary" style="margin:5px auto;" v-on:click="login">进入聊天室</button>
    <div v-if="nameInvalid" class="alert alert-warning alert-dismissible" role="alert">
        <span>${errorMsg}</span>
    </div>
</div>